#d1 {
  width: 400px;
  height: 500px;
  background-color: rgb(238, 239, 247);
  color: aliceblue;
  margin-left: 34%;
  margin-top: 7%;

  -webkit-box-shadow: 10px 9px 8px -5px rgba(38, 33, 38, 1);
  -moz-box-shadow: 10px 9px 8px -5px rgba(38, 33, 38, 1);
  box-shadow: 10px 9px 8px -5px rgba(38, 33, 38, 1);
}
.img {
  height: 100px;
  width: 100px;
  margin-top: 50px;
  margin-left: 150px;
}
.p5 {
  margin-top: 5px;
  margin-left: 37%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
button,
select,
option,
Link {
  width: 55%;
  padding: 8px 8px;
  box-sizing: border-box;
  border: none;
  background-color: rgba(158, 130, 130, 0.471);
  margin-left: 23%;
  margin-top: 2%;
  border-bottom: 1px solid white;
  font-size: +1;
  color: rgb(0, 0, 0);
  border-radius: 50px;
}

input[type="search"] {
  width: 100%;
  padding: 8px 8px;
  box-sizing: border-box;
  border: none;
  background-color: rgba(158, 130, 130, 0.471);
  margin-left: 23%;
  margin-top: 2%;
  border-bottom: 1px solid white;
  font-size: +1;
  color: rgb(0, 0, 0);
  border-radius: 50px;
}
input[type="submit"] {
  width: 190px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  height: 37px;
  border: none;
  border-radius: 50px;
  background: rgba(73, 155, 234, 1);
  background: -moz-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(73, 155, 234, 1) 17%,
    rgba(34, 126, 229, 1) 86%,
    rgba(32, 124, 229, 1) 90%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(73, 155, 234, 1)),
    color-stop(17%, rgba(73, 155, 234, 1)),
    color-stop(86%, rgba(34, 126, 229, 1)),
    color-stop(90%, rgba(32, 124, 229, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(73, 155, 234, 1) 17%,
    rgba(34, 126, 229, 1) 86%,
    rgba(32, 124, 229, 1) 90%
  );
  background: -o-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(73, 155, 234, 1) 17%,
    rgba(34, 126, 229, 1) 86%,
    rgba(32, 124, 229, 1) 90%
  );
  background: -ms-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(73, 155, 234, 1) 17%,
    rgba(34, 126, 229, 1) 86%,
    rgba(32, 124, 229, 1) 90%
  );
  background: linear-gradient(
    to right,
    rgba(73, 155, 234, 1) 0%,
    rgba(73, 155, 234, 1) 17%,
    rgba(34, 126, 229, 1) 86%,
    rgba(32, 124, 229, 1) 90%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
  margin-left: 27%;
}
.a {
  color: black;
  font-size: smaller;
  margin-left: 36%;
}
/* p1{
color: black;
margin-left: 12%;
font-size: smaller;
} */
::placeholder {
  color: black;
  padding-left: 25%;
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* button{
width: 30%;
padding: 3px 5px;
box-sizing:border-box;
border: none;
background-color:rgba(90, 86, 86, 0.471);
margin-left: 35%;

font-size:+1;
color: black;
border-radius: 50px;
} */
